*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

/* 头部logo */
#header{
	width: 100%;
	background:	#fff;
}
#header>.logo{
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
}
#header>.logo>.logo_img{
	background: url(../images/upload_ie4gkmjvgvqtiytdg4zdambqgiyde_220x52.png) no-repeat;
	display: inline-block;
	width: 220px;
	height: 52px;
}
#content{
	background: url(../images/upload_541i9di2b3icf9j13f24e0bg7b1i6_1920x600.png) center center;
	width: 100%;
	height: 600px;
}
#content>.content_lt{
	width: 62.5%;
	height: 600px;
	float:left;
}
#content>.content_lt>.lt_m{
	display: block;
	width: 700px;
	height: 440px;
	margin-top: 80px;
	margin-left: 56px;
}
#content>.content_rt{
	float: left;
	width: 400px;
	height: 338px;
	position: relative;
	background: #ffeceb;
	margin-top: 80px;
	opacity: 0.9;
	padding-bottom: 20px;
}
#content>.content_rt>.login_1{
	background: url(../images/upload_ie4tmnzrmuydmmbqhazdambqgqyde_46x46.png) no-repeat;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.login_2{
	background: url(../images/upload_ifrdcojvgftdmmbqhazdambqmeyde_52x53.png) no-repeat;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
}
.content1{
	display:block;
}
.login_3{
	height:	70px;
}
.login_3>.login-lt{
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.pt{
	height: 41px;
	width: 50%;
	color: #fe617a;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	display: block;
	float: left;
	
}
.pt>a{
	border-bottom: 2px solid #ff4066;
	width: 119px;
	height: 41px;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #3c3c3c;
	display: block;
	margin: 10px auto 0;
	color: #fe617a;
}
.login_3>.login-rt{
	width: 50%;
	float: left;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.sj{
	display: block;
	height: 43px;
	width: 50%;
	color: #3c3c3c;
	text-align: center;
	font-weight: bold;
	line-height: 42px;
	font-size: 14px;
	display: block;
	float: left;
}
.sj>a{
	width: 119px;
	height: 41px;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #3c3c3c;
	display: block;
	margin: 10px auto 0;
}
.login_4{
	padding-left: 44px;
}
.login_main2{
	display: none;
	margin-bottom: 15px;
}
.main_1{
	display: block;
	position: relative;
  margin-bottom: 15px;
}
.country{
	width: 110px;
  height: 40px;
	margin-right: 10px;
	border: 1px solid #c4c4c4;
	font-size: 14px;
	color: #333;
	padding: 2px 35px 4px 16px;
	background: url(../images/1.png) no-repeat 68px 0px;
	-webkit-appearance:none;
	outline: none;
}
.ph_text{
	height: 38px;
	width: 175px;
	border: 1px solid #ccc;
  padding: 0 6px;
	font-size: 12px;
	background: none;
	outline: none;
}
.yz_text{
	height: 38px;
	width: 175px;
	border: 1px solid #ccc;
  padding: 0 6px;
	font-size: 12px;
	background: none;
	outline: none;
}
.tel{
	display: inline-block;
	width: 110px;
	height: 40px;
	float:left;
	line-height: 40px;
	text-align: center;
	margin-right: 15px;
	color: #fff;
	font-size: 12px;
	background-color: #ff5777;
}
.mod_box1{
	margin-bottom: 15px;
}
.pwd_text{
	height: 40px;
	width: 300px;
	padding: 0 5px;
	border: 1px solid #ccc;
	font-size: 12px;
	background: none;
	outline: none;
}
.mm_text{
	height: 40px;
	width: 300px;
	padding: 0 5px;
	border: 1px solid #ccc;
	font-size: 12px;
	background: none;
	outline: none;
}

/* 提醒框 */
.error1{
	background: url(../images/o613k_kqzfunswozbg2s2ugfjeg5sckzsew_16x16.png) 12px 7px no-repeat #fffff8;
	border: 1px solid #ffd797;
	width: 273px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #ff1877;
	padding-left: 40px;
	margin-bottom: 9px;
	display: none;
}
.error2{
	background: url(../images/o613k_kqzfunswozbg2s2ugfjeg5sckzsew_16x16.png) 12px 7px no-repeat #fffff8;
	border: 1px solid #ffd797;
	width: 273px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #ff1877;
	padding-left: 40px;
	margin-bottom: 9px;
	display: none;
}
.error3{
	background: url(../images/o613k_kqzfunswozbg2s2ugfjeg5sckzsew_16x16.png) 12px 7px no-repeat #fffff8;
	border: 1px solid #ffd797;
	width: 273px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #ff1877;
	padding-left: 40px;
	margin-bottom: 9px;
	display: none;
}
.error4{
	background: url(../images/o613k_kqzfunswozbg2s2ugfjeg5sckzsew_16x16.png) 12px 7px no-repeat #fffff8;
	border: 1px solid #ffd797;
	width: 273px;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: #ff1877;
	padding-left: 40px;
	margin-bottom: 9px;
	display: none;
}
.mod_box2{
	margin-bottom: 15px;
}
.mod_box3{
	padding-top: 10px;
	height: 50px;
}
.sub{
	float: left;
	border: none;
	width: 314px;
	height: 40px;
	background: #ff5777;
	border-radius: 2px;
	cursor: pointer;
	color: #fff;
}
.mod_box4{
	padding-top: 20px;
}
.mod_box4>a{
	margin-right: 47px;
	color: #333;
	font-size: 12px;
}
.mod_box4>a>img{
	vertical-align: top;
	margin-right: 3px;
	margin-top: 3px;
}
.mod_box5{
	padding-top: 20px;
	padding-right: 44px;
	text-align: right;
}
.mod_box5>a{
	font-size: 12px;
	text-decoration: underline;
}
.mod_box5>a:nth-child(1){
	margin-right: 20px;
	color: #959595;
}
.mod_box5>a:nth-child(2){
  color: #fe5979;
}
.content2{
	display: none;
	padding-left:	44px;
	padding: 0 0 30px 44px;
}
.content_scan{
	background: url(../images/upload_ie4wiojrg43dombqhazdambqgqyde_190x37.png) no-repeat;
	width:	200px;
	height:	80px;
	margin-left:	60px;
	margin-top:	30px;
}
.ewm{
	background:	url(../images/ewm.png) no-repeat;
	width:	200px;
	height: 200px;
	margin-left:	55px;
	margin-bottom: 50px;
}
.download{
	width:200px;
	font-size: 18px;
	text-decoration: underline;
	height: 30px;
	bottom: 0;
	margin-left:	70px;
	color: #6e5655;
}

/* 底部 */
#footer{
	width: 100%;
	height:	188px;
	padding-top:	150px;
	font-size: 12px;
	background:	#f5f5f5;
}
.foot{
	width: 1200px;
	height: 180px;
	margin: 0 auto;
}
.foot_t{
	width: 100%;
	height:100px;
	padding-left: 20px;
	border-bottom: 2px solid #FF5777;
}
h4{
	height: 25px;
	line-height: 25px;
	color: #666;
	font-size: 14px;
	margin-left: 25px;
	margin-bottom: 10px;
}
.foot1{
	width: 300px;
	height: 100px;
	float: left;
}
ul{
	width:160px;
}
.foot1>ul>li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
.foot1>ul>li>a:hover{
	color: #f57;
}
.foot2{
	width: 300px;
	height: 100px;
	float: left;
}
a{
	color:#999;
}
.foot2>ul>li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
.foot3{
	width: 300px;
	height: 100px;
	float: left;
}
.foot3>ul>li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
.foot4{
	width: 300px;
	height: 100px;
	float: left;
}
.foot4>ul{
	width: 100%;
}
.foot4>ul>li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
	position:relative
}
.ewm_mgj{
	position: absolute;
	display: none;
	height: 70px;
	width: 70px;
	top: 27px;
	left: -17px;
}
.ewm_mls{
	position: absolute;
	display: none;
	height: 70px;
	width: 70px;
	top: 27px;
	left: -17px;
}
.ewm_uni{
	position: absolute;
	display: none;
	height: 70px;
	width: 70px;
	top: 27px;
	left: -17px;
}
.foot4>ul>li:nth-child(1):hover .ewm_mgj{
	display: block;
}
.foot4>ul>li:nth-child(2):hover .ewm_mls{
	display: block;
}
.foot4>ul>li:nth-child(3):hover .ewm_uni{
	display: block;
}
/* 底部中 */
.foot_c{
	margin-top:	10px;
}
.foot_c>ul{
	width: 100%;
}
.foot_c>ul>li{
	float: left;
	display: inline-block;
	width: 80px;
	height: 20px;
	line-height: 20px;
}
.foot_c>ul>li>a{
	color: #666;
}
.foot_c>ul>li>a:hover{
	color: #f57;
}
.mogu{
	color: #999;
}

/* 底部下 */
.foot_b{
	margin-top:	10px;
}
.foot_b>.zc>span{
	color: #999;
}
.foot_b>.zc>small{
	margin: 0 5px;
	font-size: 10px;
	color: #999;
	height: 14px;
	overflow: hidden;
}