<!-- 标题 -->
<header>
    <div class="cart-head">
        <div class="head-left">
            <a href="#/">
                <img src="../images/41.png" alt="">
            </a>
        </div>
        <div class="head-middle">蘑菇超市</div>
        <div class="head-right">
            <a href="#">
                <span>编辑</span>
                <span>
                    <img src="../images/40.png" alt="">
                </span>
            </a>
        </div>
    </div>
</header>
<!-- 头部搜索 -->
<div class="search">
    <a href="#" class="search_left">
        <img src="../images/1.png" alt="">
    </a>
    <div class="search_right">
        <div class="seach_content">
            <div class="fdj1"></div>
            <div class="sou1">
                <input type="seach" placeholder="轻松逛超市" ng-model="selec">
            </div>
        </div>
    </div>  
</div>

<div class="search1">
    <a href="#" class="search_left">
        <img src="../images/1.png" alt="">
    </a>
    <div class="search_right">
        <div class="seach_content">
            <div class="fdj"></div>
            <div class="sou1">
                <input type="seach" placeholder="轻松逛超市" ng-model="selec">
            </div>
        </div>
    </div>  
</div>
<!-- 头部广告 -->
<div class="gif">
    <a href="#">
        <img src="../images/1.gif" alt="">
    </a>
</div>
<!-- 热门推荐 -->
<div class="hot">
    <div class="tuijian_top">
        <span class="gray-layout">
            <span class="gray-text-img"></span>
            为您推荐
        </span>
    </div>
</div>

<ul class="list">
    <!-- 商品列表循环开始 -->

    <li ng-repeat="item in data|filter:{describe:selec}">
        <img ng-src="{{item.img}}">
            <div class="contro">
            <p>{{item.describe}}</p>
            
            <p>{{item.price|currency:"￥"}}</p>
            <p>{{item.zan}}</p>

            <button ng-click="set(item.goodsId,true)" class="join" style="width:0.8rem;height:0.3rem">加入购物车</button>
        </div>
    
    </li>
    <!-- 商品列表循环结束 -->
</ul> 
      
<div style="height:0.5rem;width:100%;"></div>
<!-- 尾部 -->
<div class="footer">
    <div class="foot">
        <a href="../index.html" class="footer-nav">
            <div class="footer-img">
                <img src="../images/34.png" alt="">
            </div>
            <div class="footer-title">首页</div>
        </a>
        <a href="others.html" class="footer-nav">
            <div class="footer-img">
                <img src="../images/35.png" alt="">
            </div>
            <div class="footer-title">分类</div>
        </a>
        <a href="#/" class="footer-nav">
            <div class="footer-img">
                <img src="../images/36.png" alt="">
            </div>
            <div class="footer-title">购物车</div>
        </a>
        <a href="#" class="footer-nav">
            <div class="footer-img">
                <img src="../images/37.png" alt="">
            </div>
            <div class="footer-title">我的</div>
        </a>
    </div>
</div>


<!-- <div style="height:50px"></div> -->

<!-- <div class="bottom_nav" style="z-index:1003;">


    <div class="cart">
        <a href="#/cart">
            <img id="end" src="./images/cart.png" alt="">
            去购物车
        </a>
        <span>{{cart.length}}</span>
    </div>
</div> -->
<!-- 商品列表页结束 -->